*.tfstate.backup
*.tfstate

.terraform
.terraform*
.terraform/*

*.pem
*.pub

inventory

**.DS_Store
hostname
workspace.code-workspace

a2295590-inviting-giraffe-dev-key-pair.pem
.terraform.lock.hcl

test.sh
commands.txt
